/**
 * default.style.js
 * Default styles for the RSVP page.
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.page {
  margin: 0 auto;
  width: 800px;
}

.js .step {
  display: none;
}
.js input[type=submit] {
  display: none;
}

.message {
  margin-right: 200px;
}
.input {
  margin-left: 200px;
}
