/**
 * default.style.js
 * Default styles for the RSVP page.
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.page {
  margin: 0 auto;
  width: 600px;
}

.js .step .input,
.js .step .message {
  display: none;
}
.js input[type=submit] {
  display: none;
}

.message,
.input {
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
}

.message {
  background: #cdf;
}

.input {
  background: #ffc;
}
